@import "tailwindcss";

@theme inline {
  --color-primary: #181820;
  --color-element: #3c3d41;
  --color-btn: #ed3b6b;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--color-primary);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-anton), sans-serif;
}

/* کلاس اختصاصی برای زمانی که می‌خوای فقط آنتون باشه */
.font-anton {
  font-family: var(--font-anton), sans-serif;
}

/* کلاس اختصاصی برای زمانی که می‌خوای فقط پاپینز باشه */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.single-product-page {
  background: linear-gradient(45deg, #3c3d41 0%, #1d1e25 39%, #181820 100%);
}
